@import "../../styles/master";

main {
  .inputs-container {
    height: 3rem;
    background-color: $light-fade-color;
    .input-amount {
      padding: 0;
      height: 100%;
      border: none;
      background-color: $light-fade-color;
      outline: none;

      &::-webkit-inner-spin-button,
      &::-webkit-outter-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}
