@import "../../styles/master";

main {
  max-width: 30rem;
  margin: 0 auto;
  .inputs-container {
    height: 3rem;
    background-color: $light-fade-color;
    display: flex;

    justify-content: space-between;
    .input-amount {
      padding: 0;
      height: 100%;
      border: none;
      background-color: $light-fade-color;
      outline: none;
      margin-left: 1rem;
      width: 60%;

      &::-webkit-inner-spin-button,
      &::-webkit-outter-spin-button {
        -webkit-appearance: none;
      }
    }

    .currencies-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: 1rem;

      .currency {
        display: flex;
        background-color: #fff;
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        cursor: pointer;
        margin-top: 0.5rem;

        .currency-image {
          width: 20px;
          height: 20px;
        }

        .currency-text {
          margin: 0;
          padding-left: 0.25rem;
          width: 2rem;
          line-height: 140%;
        }

        .dropdown {
          padding-left: 0.25rem;
          margin-top: 0.25rem;
          display: none;
        }
        .selected {
          display: block;
        }
      }

      .currency-options-container {
        width: 100%;
        margin-top: 0.25rem;
        background-color: rgba(256, 256, 256, 1);
        border-radius: 0.25rem;
        z-index: 10000;
        box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 0;

        .currency {
          margin: 0;
          padding-top: 0.5rem;
          padding-top: 0.5rem;

          &:hover {
            background-color: $light-fade-color;
          }
        }
      }
    }
  }

  .displayed-currencies {
    min-height: 20rem;
    margin-top: 1rem;
    .displayed-currencies-none {
      color: $fade-color;
    }
  }
}
