@import "../../styles/master";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;

  .nav-links-group {
    display: flex;
    width: 33%;
    margin: 0;

    .nav-links-item {
      .nav-link {
        padding-right: 1.5rem;
        text-decoration: none;
        color: $fade-color;
      }
    }
  }

  .img-container {
    width: 34%;
  }

  .nav-link-container {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    .nav-link-highlight {
      text-decoration: none;
      background-color: $primary-color;
      color: #fff;
      padding: 0.25rem 1.25rem;
      border-radius: 1rem;
    }
  }
}
